body{
  font-family: lato;
}

.section-navigation a {
  text-decoration: none; /* Fjern understregning */
  color: inherit; /* Behold den arvede tekstfarve */
  font-size: 16px;
}

  .heroimg {
    position: absolute;
    width: 1440px;
    height: 675px;
    top: 0;
    left: 0;
  }

  
    .box {
    position: absolute;
    width: 1245px;
    height: 177px;
    top: 539px;
    left: 98px;
    background-color: #ffffff;
    border-radius: 10px;
  }
  
    .eskpert {
    display: inline-flex;
    align-items: flex-start;
    top: 778px;
    left: 146px;
    display: flex;
    width: 1168.05px;
    gap: 91.61px;
    position: relative;
  }

  
     .imaga-articel {
    display: flex;
    flex-direction: column;
    width: 589.75px;
    height: 334px;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
  }

    .articel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15.27px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
     .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
   .articel-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
    .meta {
    margin-top: -0.95px;
    position: relative;
    align-self: stretch;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: var(--gr-white);
    font-size: 11.5px;
    letter-spacing: 0;
    line-height: 15.3px;
  }
  
    .articel-titel-p {
    position: relative;
    align-self: stretch;
    font-size: 20px;
  }
  
    .date {
    position: relative;
    align-self: stretch;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    font-size: 11.5px;
    letter-spacing: 0;
    line-height: 15.3px;
  }
  
     .description {
    position: relative;
    align-self: stretch;
    font-family: "Lato-Light", Helvetica;
    font-weight: 300;
    color: #666464;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22.9px;
  }
  
   .link {
    position: relative;
    align-self: stretch;
    font-family: "Lato-Medium", Helvetica;
    font-weight: 500;
    font-size: 13.4px;
    text-align: right;
    letter-spacing: 0;
    line-height: 19.1px;
  }
  
    .hero-text {
    position: absolute;
    width: 831px;
    height: 270px;
    top: 217px;
    left: 146px;
    color: #ffffff;
  }
  
     .heading {
    position: absolute;
    width: 497px;
    top: -1px;
    left: 0;
    font-family: "Lato-SemiBold", Helvetica;
    font-weight: 520;
    color: var(--gr-white);
    font-size: 47px;
    letter-spacing: 0;
    line-height: 55.4px;
  }
     .hero-text-p {
    position: absolute;
    width: 500px;
    top: 160px;
    left: 0;
    color: #c2c5cd;
    font-size: 16px;
  }
  
   .section-navigation {
    position: absolute;
    width: 1183px;
    height: 99px;
    top: 24px;
    left: 138px;
    color: #ffffff;
  }
  
   .sections {
    display: inline-flex;
    align-items: flex-start;
    gap: 33px;
    position: absolute;
    top: 42px;
    left: 120px;
    font-size: 16px;
  }
  
   .footer-link {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
  }
  
     .drop-down {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    position: relative;
    flex: 0 0 auto;
  }
  
     .nav-text {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    text-align: center;
    white-space: nowrap;
  }
  
  
   .nav-login {
    position: relative;
    width: fit-content;
    text-align: center;
    white-space: nowrap;
    left: 300px;
  }
  
   .arrow {
    position: relative;
    width: 12px;
    height: 6px;
  }
  
   .img {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 44px;
    left: 631px;
  }

  .nav-list {
    display: flex;
    width: 220px;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    padding: 0px 0px 0px 190px;
    position: relative;
  }
  
   .login {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    gap: 6px;
    position: relative;
    flex: 0 0 auto;
    left: 400px;
  }
  

  .header-arrow {
    position: relative;
    width: 12px;
    height: 6px;
  }
  .text-login {
    position: relative;
    width: fit-content;
    text-align: center;
    white-space: nowrap;
    left: 300px;
  }
  
  
   .logo-home {
    position: absolute;
    width: 71px;
    height: 72px;
    top: -1px;
    left: 6px;
  }
  
   .icon-pet-first-aid {
    position: absolute;
    width: 45px;
    height: 53px;
    top: 19px;
    left: 12px;
  }
  
   .icon-home {
    position: absolute;
    width: 71px;
    height: 72px;
    top: 0;
    left: 0;
  }

  
   .dato-fra {
    left: 221px;
    position: absolute;
    width: 308px;
    height: 289px;
    top: 581px;
  }
   .calender-box {
    position: absolute;
    width: 280px;
    height: 20px;
    top: 0;
    left: 14px;
  }
  
  
   .listbox-main {
    width: 282px;
    height: 60px;
    top: 28px;
    position: absolute;
    left: 14px;
  }
  
   .date-box {
    position: relative;
    width: 280px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 14px #0000001a;
  }
  
   .date-text {
    position: absolute;
    top: 20px;
    left: 35px;
    white-space: nowrap;
  }
  
   .icon-calendar-with {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    left: 219px;
  }
  
   .master-primary {
    display: flex;
    width: 110px;
    height: 25px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 18px 24px;
    position: absolute;
    top: 603px;
    left: 1062px;
    background-color:#309C9D;
    border-radius: 5px;
    color: white;
  }
  
   .button-text {
    position: relative;
    width: fit-content;
    font-family: "Lato-Bold", Helvetica;
    font-weight: 700;
    color: white;
    font-size: 16px;
    text-align: right;
    letter-spacing: 0;
    line-height: 18px;
    white-space: nowrap;
    all: unset;
    box-sizing: border-box;
  }
  
   .dato-til {
    left: 529px;
    position: absolute;
    width: 308px;
    height: 289px;
    top: 581px;
  }
  
   .antal-dyr {
    position: absolute;
    width: 308px;
    height: 289px;
    top: 581px;
    left: 837px;
  }
  
   .pet-box {
    position: absolute;
    width: 184px;
    height: 60px;
    top: 28px;
    left: 14px;
  }
  
   .pet-box-color {
    position: relative;
    width: 182px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 14px #0000001a;
  }
  
   .pet-text {
    position: absolute;
    width: 108px;
    top: 21px;
    left: 27px;
  }
  
   .cta {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1.73px;
    position: absolute;
    top: 1091px;
    left: 1204px;
  }
  
   .day-p {
    position: absolute;
    top: 1211px;
    left: 650px;
    font-size: 23px;
    text-align: center;
    white-space: nowrap;
  }
  
   .day {
    position: absolute;
    width: 1165px;
    height: 480px;
    top: 1263px;
    left: 161px;
  }
  
   .day-description{
    position: absolute;
    width: 780px;
    top: 0;
    left: 169px;
    font-family: "Lato-Light", Helvetica;
    font-weight: 300;
    color: #666464;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28.4px;
  }
  
   .morgenmad {
    position: absolute;
    width: 371px;
    height: 337px;
    top: 143px;
    left: 0;
  }
  
   .day-cards {
    position: relative;
    width: 367px;
    height: 337px;
    border-radius: 22.7px;
    border: 0.60px solid;
  }
  
   .day-title {
    top: 152px;
    left: 37px;
    font-family: "Lato-Light", Helvetica;
    position: absolute;
    width: 291px;
    text-align: center;
  }
  
  .routine-description {
    top: 180px;
    left: 42px;
    font-family: "Lato-Light", Helvetica;
    font-weight: 100;
    color: #666464;
    font-size: 17px;
    line-height: 28.4px;
    position: absolute;
    width: 291px;
    text-align: center;
    letter-spacing: 0;
  }
  
   .moegen-icon {
    position: absolute;
    width: 122px;
    height: 98px;
    top: 31px;
    left: 96px;
  }
  
   .frste-gtur {
    position: absolute;
    width: 371px;
    height: 337px;
    top: 139px;
    left: 397px;
  }
  
   .frste-gtur-icon {
    position: absolute;
    width: 98px;
    height: 95px;
    top: 41px;
    left: 121px;
  }
  
   .enlangtur {
    position: absolute;
    width: 371px;
    height: 337px;
    top: 135px;
    left: 794px;
  }
  
    .en-lang-tur-icon {
    position: absolute;
    width: 91px;
    height: 91px;
    top: 57px;
    left: 128px;
  }
  
   .aften-mad {
    top: 1765px;
    left: 159px;
    position: absolute;
    width: 371px;
    height: 337px;
  }
  
   .aftenmad-icon {
    position: absolute;
    width: 121px;
    height: 87px;
    top: 40px;
    left: 105px;
  }
  
   .aften-grtur {
    top: 1761px;
    left: 556px;
    position: absolute;
    width: 371px;
    height: 337px;
  }
  
   .aften-gtur-icon {
    position: absolute;
    width: 96px;
    height: 91px;
    top: 44px;
    left: 143px;
  }
  
   .aftensnack {
    position: absolute;
    width: 371px;
    height: 337px;
    top: 1757px;
    left: 953px;
  }
  
   .icon-pet-food {
    position: absolute;
    width: 62px;
    height: 70px;
    top: 65px;
    left: 156px;
  }
  
     .anmeld-section {
    position: absolute;
    width: 709px;
    height: 637px;
    top: 2250px;
    left: 143px;
  }
  
   .anmeld-2 {
    display: flex;
    flex-direction: column;
    width: 704px;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 5px;
  }
  
  .anmeld-box {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 1px;
  }
  
   .anmeld {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 32px 0px 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
   .header-anmeld {
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
   .author {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    position: relative;
    flex: 0 0 auto;
  }
  
    .name {
    position: relative;
    width: fit-content;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 545;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  
     .like {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  
     .thumb {
    position: relative;
    width: 16px;
    height: 16px;
  }
  
     .vector {
    position: absolute;
    width: 15px;
    height: 13px;
    top: 1px;
    left: 1px;
  }
  
     .text-thumb {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
   .comment {
    position: relative;
    align-self: stretch;
    font-family: "Lato-Regular", Helvetica;
  }
  
    .anmeld-3 {
    display: flex;
    flex-direction: column;
    width: 704px;
    align-items: flex-start;
    position: absolute;
    top: 214px;
    left: 5px;
  }
  
     .anmeld-4 {
    display: flex;
    flex-direction: column;
    width: 704px;
    align-items: flex-start;
    position: absolute;
    top: 436px;
    left: 0;
  }
  
    .customers {
    position: absolute;
    top: 2186px;
    left: 148px;
    color: transparent;
    white-space: nowrap;
    color: #6d7391;
    font-size: 23px;
  }

  
   .kontak-info {
    position: absolute;
    width: 355px;
    height: 657px;
    top: 2203px;
    left: 947px;
    background-color: #d9d9d942;
  }
  
    .details-1 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35.19px;
    position: absolute;
    top: 72px;
    left: 46px;
  }
  
   .content-text {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5.87px;
    position: relative;
    flex: 0 0 auto;
  }
  
   .author-description {
    margin-top: -1.47px;
    font-family: "Lato-Medium", Helvetica;
    font-weight: 500;
    color: #666464;
    font-size: 17.6px;
    line-height: 23.5px;
    white-space: nowrap;
    position: relative;
    width: fit-content;
    letter-spacing: 0;
  }
  
     .reply {
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    font-size: 20.5px;
    line-height: 29.3px;
    white-space: nowrap;
    position: relative;
    width: fit-content;
    letter-spacing: 0;
  }
  
   .reply-1 {
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    font-size: 20.5px;
    line-height: 29.3px;
    white-space: nowrap;
    position: relative;
    width: fit-content;
    letter-spacing: 0;
  }
  
    .reply-2 {
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 20.5px;
    line-height: 29.3px;
    position: relative;
    width: fit-content;
    letter-spacing: 0;
  }
  
   .name-number {
    color: #3e5463;
  }
  
   .email {
    color: #186ade;
  }
  
   .kontakt-box {
    display: flex;
    width: 355px;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
  }
  
    .base {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8.76px;
    padding: 8.76px 26.27px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    border-radius: 2.19px;
  }
  
   .color {
    position: relative;
    width: fit-content;
    margin-top: -1.09px;
    font-family: "Lato-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 17.5px;
    text-align: center;
    letter-spacing: 0;
    line-height: 26.3px;
    white-space: nowrap;
  }
  
   .footer {
    position: absolute;
    width: 1440px;
    height: 162px;
    top: 3232px;
    left: 7px;
    background-color: transparent;
  }
  
  .copyright {
    position: absolute;
    top: 71px;
    left: 110px;
    text-align: center;
    white-space: nowrap;
  }
  
   .social-media {
    position: absolute;
    width: 140px;
    height: 36px;
    top: 63px;
    left: 1190px;
  }
  
   .nav-list-2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    position: absolute;
    top: 72px;
    left: 807px;
  }
  
   .footer-text {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    text-align: center;
    white-space: nowrap;
  }
 
  .cta-section {
    position: absolute;
    width: 1184px;
    height: 209px;
    top: 2988px;
    left: 135px;
  }
  
   .contact-us {
    position: absolute;
    width: 1184px;
    height: 209px;
    top: 0;
    left: 0;
  }
  
   .cta-text {
    position: relative;
    height: 209px;
  }
  
   .section-kontakt-os {
    position: absolute;
    width: 1164px;
    height: 209px;
    top: 0;
    left: 0;
  }
  
   .kontakt {
    position: relative;
    width: 1130px;
    height: 209px;
  }
  
    .kontakt-p {
    position: absolute;
    width: 488px;
    top: 40px;
    left: 638px;
  }
  
   .kontakt-h {
    position: absolute;
    top: -20px;
    left: 638px;
    color: #000000;
    white-space: nowrap;
    font-size: 23px;
  }
  
   .rectangle-box {
    position: absolute;
    width: 572px;
    height: 209px;
    top: 0;
    left: 0;
    background-color: #d9d9d9;
  }
  
   .email-input {
    position: absolute;
    width: 559px;
    height: 54px;
    top: 155px;
    left: 625px;
  }
  
   .color-kontakt {
    display: inline-flex;
    align-items: flex-start;
    gap: 8px;
    padding: 18px 24px;
    position: absolute;
    top: 0;
    left: 443px;
    background-color:#309C9D;
    border-radius: 5px;
    width: 80px;
    height: 25px;
  }
  
   .button-text-2 {
    position: relative;
    width: fit-content;
    margin-top: 0 0 auto;
    color: white;
    text-align: center;
    white-space: nowrap;
  }
  
   .input-text {
    display: flex;
    width: 419px;
    height: 54px;
    align-items: center;
    gap: 240px;
    padding: 4px 10px;
    position: absolute;
    top: 0;
    left: 0;
    background-color:#d2d2d2;
    border-radius: 5px;
  }
  
   .text-icons {
    display: flex;
    width: 371px;
    align-items: center;
    gap: 240px;
    position: relative;
  }
  
   .input-content {
    display: flex;
    width: 113px;
    align-items: flex-start;
    gap: 8px;
    position: relative;
  }
  
   .input-placeholder {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    margin-right: -7px;
    text-align: center;
    white-space: nowrap;
    color: #7e7e7e;
  }
  
   .kontakt-img {
    position: absolute;
    width: 572px;
    height: 209px;
    top: 0;
    left: 2px;
  }
  
   .side-tal {
    position: absolute;
    width: 210px;
    height: 26px;
    top: 2887px;
    left: 393px;
  }
  
   .text-1 {
    position: absolute;
    top: 1px;
    left: 49px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
    .text-2 {
    left: 84px;
    position: absolute;
    top: 1px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
   .text-3 {
    left: 119px;
    position: absolute;
    top: 1px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
   .text-4 {
    left: 154px;
    position: absolute;
    top: 1px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;

    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
   .right-arrow {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
  }
  
   .left-arrow {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 2px;
    left: 186px;
  }
  .master-input-text {
    width: 200px;
     position: relative;
   }
   .input-label{
     position: absolute;
     left: 10px;
     top: 14px;
     transition: all 0.2s;
     padding: 0 2px;
     z-index: 1;
     color: black;
   }
   .input-label::before{
     content: "";
     height: 5px;
     position: absolute;
     left: 0px;
     top: 10px;
     width: 100%;
   }
 
   .input-text{
     padding: 0.8rem;
     height: 25px;
     border-radius: 5px;
     font-size: 18px;
     outline: none;
     transition: 0.3s;
     background-color: #d9d9d9;
     border: 2px solid #d9d9d9;
     color: white;
     padding: 18px 24px;
     display: flex;
     width: 371px;
   }
 
   .input-text:focus+.input-label,
   .filled{
     top: -20px;
     color: black;
     font-size: 14px;
   }
 
   .input-text::placeholder{
     font-size: 16px;
     opacity: 0;
     transition: all 0.3s;
   }
   
   .input-text:focus::placeholder{
     opacity: 1;
   }
 