body{
    font-family: lato;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.section-navigation a {
  text-decoration: none; /* Fjern understregning */
  color: inherit; /* Behold den arvede tekstfarve */
}

a:hover {
  color: #309C9D;
}


header {
  position: absolute;
  width: 483px;
  height: 270px;
  top: 202px;
  left: 513px;
  background-color: transparent;
}

 .header-text {
  width: 831px;
  height: 270px;
}

.heading {
  position: absolute;
  width: 482px;
  top: 67px;
  left: -250px;
  font-family: "Lato-SemiBold", Helvetica;
  font-weight: 520;
  font-size: 47px;
  letter-spacing: 0;
  line-height: 55.4px;
  color: #ffffff;
}

.header-p {
  position: absolute;
  width: 450px;
  top: 250px;
  font-family: "Lato-Light", Helvetica;
  font-weight: 300;
  color: #d1cfcf;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28.4px;
  right: 280px;
}


    .heroimg {
    position: absolute;
    width: 1440px;
    height: 685px;
    top: 0;
    left: 0;
  }
  
    .index-cards {
    position: absolute;
    width: 938px;
    height: 275px;
    top: 610px;
    left: 257px;
  }
  
    .engagement {
    top: 2px;
    left: 640px;
    position: absolute;
    width: 302px;
    height: 273px;
  }
  
    .cards-group {
    position: relative;
    width: 298px;
    height: 273px;
    background-color: white;
    border-radius: 8.11px;
    border: 0.77px none;
  }
  
    .cards-title {
    top: 114px;
    font-family: "Lato-Medium", Helvetica;
    font-weight: 500;
    font-size: 19.5px;
    line-height: normal;
    position: absolute;
    width: 236px;
    left: 30px;
    text-align: center;
    letter-spacing: 0;
  }
  
   .cards-text {
    top: 149px;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #7E7E7E;
    font-size: 13.8px;
    line-height: 23px;
    position: absolute;
    width: 236px;
    left: 30px;
    text-align: center;
    letter-spacing: 0;
    
  }
  
   .Professionalisme {
    top: 0;
    left: 320px;
    position: absolute;
    width: 302px;
    height: 273px;
  }
  
   .icon-pet-first-aid {
    position: absolute;
    width: 54px;
    height: 64px;
    top: 40px;
    left: 121px;
    opacity: 0.7;
  }
  

  
   .card-trygge-rammer {
    position: absolute;
    width: 302px;
    height: 273px;
    top: 0;
    left: 0;
  }
   .nav {
    position: absolute;
    width: 1183px;
    height: 99px;
    top: 24px;
    left: 138px;
    color:#ffffff
    
  }
  
   .first-nav {
    display: inline-flex;
    align-items: flex-start;
    gap: 33px;
    position: absolute;
    top: 42px;
    left: 120px;
    
  }
  .section-navigation {
    position: absolute;
    width: 1183px;
    height: 99px;
    top: 24px;
    left: 138px;
    color: #ffffff;
  }
  .sections {
    display: inline-flex;
    align-items: flex-start;
    gap: 33px;
    position: absolute;
    top: 42px;
    left: 120px;
  }
 
  .drop-down {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    position: relative;
    flex: 0 0 auto;
  }
  .nav-text {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    text-align: center;
    white-space: nowrap;
  }
 
  .login {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    gap: 6px;
    position: relative;
    flex: 0 0 auto;
  }
  .header-arrow {
    position: relative;
    width: 12px;
    height: 6px;
  }
 
  .line-rounded {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
  }
  .text-login {
    position: relative;
    width: fit-content;
    text-align: center;
    white-space: nowrap;
    left: 300px;
  }
  
   .nav-text {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    position: relative;
    flex: 0 0 auto;
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
    width: fit-content;
    text-align: center;
    color: #ffffff;
  }

 
   .img {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 44px;
    left: 631px;
  }
 
  
   .login {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    gap: 6px;
    position: relative;
    flex: 0 0 auto;
  }

  
   .logo-home {
    position: absolute;
    width: 71px;
    height: 72px;
    top: -1px;
    left: 6px;
  }

  
   .icon-home {
    position: absolute;
    width: 71px;
    height: 72px;
    top: 0;
    left: 0;
  }

   .section-service {
    position: absolute;
    width: 1184px;
    height: 387px;
    top: 2247px;
    left: 125px;
  }
  
   .produkter {
    position: absolute;
    width: 359px;
    height: 316px;
    top: 71px;
    left: 829px;
  }
  
   .service {
    position: absolute;
    width: 331px;
    height: 107px;
    top: 170px;
    left: 4px;
  }
  
   .p {
    position: absolute;
    width: 331px;
    top: 39px;
    left: 0;
    color: #7E7E7E;
  }
  
   .vores-produkt {
    width: 158px;
    top: 0;
    left: 0;
    font-size:20px;
    position: absolute;
    color: #000000;
  }
  
   .button {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    top: 300px;
    left: 226px;
    all: unset;
    box-sizing: border-box;
  }
  
   .more {
    position: relative;
    width: 129px;
    height: 16px;
    margin-top: -1px;
    color: #000000;
    white-space: nowrap;
  }
  
   .vector-2 {
    position: absolute;
    width: 8px;
    height: 14px;
    top: 6px;
    left: 99px;
  }
  
   .service-img {
    position: absolute;
    width: 332px;
    height: 149px;
    top: 0;
    left: 0;
  }
  
   .trning {
    position: absolute;
    width: 352px;
    height: 311px;
    top: 74px;
    left: 410px;
  }
  
   .trening {
    position: absolute;
    top: 0;
    left: 0;
    color: #000000;
    font-size: 20px;
  }
  
   .button-2 {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    top: 295px;
    left: 219px;
    all: unset;
    box-sizing: border-box;
  }
  
   .pension {
    position: absolute;
    width: 359px;
    height: 308px;
    top: 74px;
    left: 0;
  }
  
   .pension-p {
    position: absolute;
    width: 331px;
    top: 209px;
    left: 4px;
    color: #7E7E7E;
  }
  
   .button-3 {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    top: 292px;
    left: 226px;
    all: unset;
    box-sizing: border-box;
  }
  
   .pension-titel {
    position: absolute;
    top: 170px;
    left: 4px;
    color: #000000;
    font-size: 20px;
  }
  
   .our-service {
    top: -1px;
    left: 5px;
    font-size: 23px;
    white-space: nowrap;
    position: absolute;
    color: #000000;
  }
  
    .section-artical {
    position: absolute;
    width: 1161px;
    height: 351px;
    top: 1803px;
    left: 129px;
  }
  
   .nye-familie {
    position: absolute;
    width: 559px;
    height: 365px;
    top: 7px;
    left: 0;
  }
  
   .benny {
    position: absolute;
    width: 275px;
    top: 100px;
    left: 255px;
    color: #7E7E7E;
  }
  
   .date-benny {
    position: absolute;
    width: 128px;
    top: 0;
    left: 249px;
    color: #000000;
    white-space: nowrap;
  }
  
    .text-benny {
    position: absolute;
    width: 304px;
    top: 10px;
    left: 249px;
    color: #000000;
    font-size: 23px;
  }
  
   .benny-img {
    position: absolute;
    width: 235px;
    height: 345px;
    top: 0;
    left: 0;
  }
  
   .tip-and-tick {
    position: absolute;
    width: 510px;
    height: 351px;
    top: 10;
    left: 659px;
  }
  
   .tip-p {
    position: absolute;
    width: 237px;
    top: 230px;
    left: 0;
    color: #7E7E7E;
  }
  
   .tip-p-2 {
    position: absolute;
    width: 245px;
    top: 100px;
    left: 4px;
    color:#7E7E7E;
  }
  
   .date-tip {
    position: absolute;
    width: 129px;
    top: 0;
    left: 5px;
    color: #000000;
    white-space: nowrap;
  }
  
   .tips-titel {
    position: absolute;
    width: 257px;
    top: 10px;
    left: 3px;
    color: #000000;
    font-size: 23px;
  }
  
   .tips-img {
    position: absolute;
    width: 230px;
    height: 338px;
    top: 5px;
    left: 272px;
  }
  
   .sektion-articel-stor {
    position: absolute;
    width: 1168px;
    height: 334px;
    top: 949px;
    left: 130px;
  }
  
   .sektion-card-articel {
    position: relative;
    height: 345px;
  }
  
  
   .articel-cards {
    display: flex;
    width: 1168.05px;
    align-items: flex-start;
    gap: 91.61px;
    position: relative;
  }
  
   .image-articel {
    position: relative;
    width: 589.75px;
    height: 334px;
  }
  
   .list-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15.27px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
   .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 11.45px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
   .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
   .meta {
    position: relative;
    align-self: stretch;
    margin-top: -0.95px;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: var(--gr-white);
    font-size: 11.5px;
    letter-spacing: 0;
    line-height: 15.3px;
  }
  
   .title-articel {
    position: relative;
    align-self: stretch;
    font-family: "Lato-SemiBold", Helvetica;
    font-weight: 400;
    color: var(--gr-black);
    font-size: 23px;
    letter-spacing: 0;
    line-height: normal;
    margin: 10px 0px auto;
  }
  
   .date-articel {
    position: relative;
    align-self: stretch;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: var(--gr-white);
    font-size: 11.5px;
    letter-spacing: 0;
    line-height: 15.3px;
  }
  
   .description {
    position: relative;
    align-self: stretch;
    font-family: var(--p-font-family);
    font-weight: var(--p-font-weight);
    color: #7E7E7E;
    font-size: var(--p-font-size);
    letter-spacing: var(--p-letter-spacing);
    line-height: var(--p-line-height);
    font-style: var(--p-font-style);
  }
  
   .link-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 323px;
    left: 1079px;
  }
  

  
   .section-step {
    position: absolute;
    width: 1007px;
    height: 321px;
    top: 1347px;
    left: 280px;
  }
  
   .img-step {
    position: absolute;
    left: -113px;


  }

  
    .step {
    width: 233px;
    height: 277px;
    left: 816px;
    position: absolute;
    top: 0;
  }

  
   .footer {
    position: absolute;
    width: 1440px;
    height: 162px;
    top: 3093px;
    left: 0;
    background-color: transparent;
  }
  
   .copyright {
    position: absolute;
    top: 71px;
    left: 110px;
    text-align: center;
    white-space: nowrap;
  }
  
   .social-media {
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    position: absolute;
    top: 63px;
    left: 1190px;
  }
  
   .social-media-icon {
    position: relative;
    width: 36px;
    height: 36px;
  }
  

  .nav-list-2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    position: absolute;
    top: 72px;
    left: 707px;
  }
  
  
   .footer-text {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    color:#000000;
    text-align: center;
    white-space: nowrap;
  }

   .contact-us {
    position: absolute;
    width: 1184px;
    height: 209px;
    top: 2749px;
    left: 129px;
  }
  
   .cta-text {
    position: relative;
    height: 209px;
  }
  
   .section-kontakt-os {
    position: absolute;
    width: 1164px;
    height: 209px;
    top: 0;
    left: 0;
  }
  
    .kontakt {
    position: relative;
    width: 1130px;
    height: 209px;
  }
  
   .kontakt-p {
    position: absolute;
    width: 488px;
    top: 40px;
    left: 638px;
    color: #7E7E7E;
  }
  
   .kontakt-h {
    position: absolute;
    top: -20px;
    left: 638px;
    color: #000000;
    font-size: 23px;
    white-space: nowrap;
  }
  
   .kontakt-img {
    position: absolute;
    width: 572px;
    height: 209px;
    top: 0;
    left: 0;
  }
  
   .email-input {
    position: absolute;
    width: 559px;
    height: 54px;
    top: 155px;
    left: 625px;
  }
  
   .color-kontakt {
    display: inline-flex;
    align-items: flex-start;
    gap: 8px;
    padding: 18px 24px;
    position: absolute;
    top: 0;
    left: 443px;
    background-color:#309C9D;
    border-radius: 5px;
    width: 80px;
    height: 25px;
  }
  
   .button-text {
    position: relative;
    width: fit-content;
    margin-top: 0 0 auto;
    color: white;
    text-align: center;
    white-space: nowrap;
  }
  
   .master-input-text {
   width: 200px;
    position: relative;
  }
  .input-label{
    position: absolute;
    left: 10px;
    top: 14px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
    color: black;
  }
  .input-label::before{
    content: "";
    height: 5px;
    position: absolute;
    left: 0px;
    top: 10px;
    width: 100%;
  }

  .input-text{
    padding: 0.8rem;
    height: 25px;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    transition: 0.3s;
    background-color: #d9d9d9;
    border: 2px solid #d9d9d9;
    color: white;
    padding: 18px 24px;
    display: flex;
    width: 371px;
  }

  .input-text:focus+.input-label,
  .filled{
    top: -20px;
    color: black;
    font-size: 14px;
  }

  .input-text::placeholder{
    font-size: 16px;
    opacity: 0;
    transition: all 0.3s;
  }
  
  .input-text:focus::placeholder{
    opacity: 1;
  }


 
   .text-icons {
    display: flex;
    width: 371px;
    align-items: center;
    gap: 240px;
    position: relative;
  }
  
   .input-content {
    display: flex;
    width: 113px;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    color: #7E7E7E;
  }
  